<!DOCTYPE html>
<html lang="eu">
<head>
    <meta charset="utf-8"/>
    <title>Search user</title>
</head>
<body>
    {% if user.is_banned%}
        <h1>You banned</h1>
    {%  else %}
    {% if user.is_authenticated %}
        What person would you like to talk?You auth as {{ user.username }}<br/>
        <form method="post" action="{% url 'search' %}">
            {% csrf_token %}
            <input name="username" type="search">
            <input type="submit" value="search"><br/>
        <form>
            {% if user1 == 1 %}
                <h1>Not found</h1>
            {% elif user1 %}
                <h3>User List</h3>
                <a id="username-input">{{ user1.username }}<a/>
                <input id="username-submit" type="button" value="Go Chat!"><br/>
            {% endif %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <p>Not authenticated, LogIn please</p>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">register</a>
    {% endif %}
    <script>
        document.querySelector('#username-input').focus();
        document.querySelector('#username-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#username-submit').click();
            }
        };

        document.querySelector('#username-submit').onclick = function(e) {
            var roomName = document.querySelector('#username-input').textContent;
            window.location.pathname = '/chat/' + roomName;
        };
    </script>
    {% endif %}
</body>
</html>